/* Tailwind */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

/* Themes */
@import "@3dverse/design-tokens/css/design-tokens.css";
@import "@3dverse/design-tokens/css/value-type-colors.css";
@import "@3dverse/design-tokens/tailwind/theme.css";
@import "./tailwind/theme.css";

/* Base */
@import "./tailwind/base/animation-appear.css";
@import "./tailwind/base/button.css";
@import "./tailwind/base/core.css";
@import "./tailwind/base/container.css";
@import "./tailwind/base/select.css";

/* Component */
@import "./tailwind/components/canvas.css";
@import "./tailwind/components/scrollable-area.css";

:root {
    /* Font family */

    --font-family-primary: "Manrope Variable", sans-serif;
    --font-family-secondary: "Inter Variable", sans-serif;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.stroke-solid {
    stroke-dashoffset: 0;
    stroke-dasharray: 300;
    stroke-width: 4px;
    transition:
        stroke-dashoffset 1s ease,
        opacity 1s ease;
    stroke: var(--color-accent);
}

.icon {
    transform: scale(0.8);
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
    fill: var(--color-accent);
}

#play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#play:hover {
    .stroke-solid {
        opacity: 1;
        stroke-dashoffset: 300;
    }

    .icon {
        transform: scale(0.9);
    }
}
