.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;

    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

/* Variants */
.ghost {
    color: var(--3dverse-color-content-secondary);
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: var(--3dverse-color-content-primary);
    }
}
.secondary {
    color: var(--3dverse-color-content-primary);
    background-color: var(--3dverse-color-background-secondary);
    border-color: transparent;
}
.outline {
    color: var(--3dverse-color-content-primary);
    background-color: transparent;
    border-color: var(--3dverse-color-content-primary);
}

/* Sizes */

.button-3xs {
    font-size: var(--3dverse-font-size-3xs);
    line-height: var(--3dverse-leading-4);
    padding: 2px 6px;
}
.button-2xs {
    font-size: var(--3dverse-font-size-2xs);
    line-height: var(--3dverse-leading-4);
    padding: 3px 7px;
}
.button-xs {
    font-size: var(--3dverse-font-size-xs);
    line-height: var(--3dverse-leading-5);
    padding: 4px 8px;
}
.button-sm {
    font-size: var(--3dverse-font-size-sm);
    line-height: var(--3dverse-leading-5);
    padding: 5px 12px;
}
.button-md {
    font-size: var(--3dverse-font-size-md);
    line-height: var(--3dverse-leading-5);
    padding: 8px 16px;
}
