
    .wrapper {
        --tooltip-bg: var(--3dverse-color-content-primary);
        --tooltip-color: var(--3dverse-color-bg-underground);

        position: relative;
        display: flex;
    }

    .tooltipContent {
        position: absolute;
        bottom: 100%;
        left: 50%;
        translate: -50% -0.25rem;

        padding: 0 var(--3dverse-spacing-2);

        font-size: var(--3dverse-font-size-xs);
        border-radius: 4px;
        white-space: nowrap;
        color: var(--tooltip-color);
        background-color: var(--tooltip-bg);
        box-shadow: var(--3dverse-shadow-lg);

        opacity: 0;
        pointer-events: none;
        transition:
            opacity 0.2s ease,
            translate 0.2s ease;
        z-index: 10;
    }

    .wrapper:hover .tooltipContent,
    .wrapper:focus-within .tooltipContent {
        opacity: 1;
        translate: -50% -0.5rem;
        pointer-events: auto;
    }

    /* Optional arrow */
    .tooltipContent::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        border-width: 4px;
        border-style: solid;
        border-color: var(--tooltip-bg) transparent transparent transparent;
    }
