
    .wrapper {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        user-select: none;
    }

    .input {
        position: absolute;

        opacity: 0;
        pointer-events: none;
    }

    .box {
        display: grid;
        place-items: center;
        width: var(--size);
        height: var(--size);

        border: 1px solid var(--3dverse-color-border-primary);
        border-radius: 3px;
        background-color: var(--3dverse-color-bg-overground);

        transition: all 0.2s ease;
    }

    .icon {
        width: calc(var(--size) * 0.75);
        height: calc(var(--size) * 0.75);

        stroke: var(--3dverse-color-content-primary-dark);
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;

        transform: scale(0);
        transition: transform 0.2s ease;
    }

    /* When checked: animate in */
    .input:checked + .box .icon {
        transform: scale(1);
    }

    .input:checked + .box {
        border-color: var(--3dverse-color-accent);
        background: color-mix(in srgb, var(--3dverse-color-accent) 80%, transparent);
    }

    .labelText {
        font-size: var(--3dverse-font-size-sm);
        color: var(--3dverse-color-content-secondary);
        transition: color 0.22s ease;
    }

    .input:checked + .labelText {
        color: var(--3dverse-color-content-primary);
    }


    /* Sizes */
    .xs {
        --size: 12px;

        .labelText {
            font-size: var(--3dverse-font-size-2xs);
        }
    }

    .sm {
        --size: 16px;
    }

    .md {
        --size: 20px;
    }
