/* Core */

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

body {
    @apply text-base text-primary;
    background-color: var(--color-bg-ground);
    min-height: 100vh;
    overflow-x: hidden;

    font-family: var(--font-family-secondary);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: hsl(var(--color-content-tertiary-hsl), 0.08);

    scrollbar-gutter: stable both-edges;
    scrollbar-color: var(--color-content-tertiary) transparent;
    scrollbar-width: thin;
}

@layer base {
    ::selection {
        color: var(--color-accent);
        background-color: hsl(var(--color-accent-hsl), 0.1);
    }
}

*:focus {
    outline: none;
}
