/* Core */

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

body {
    @apply text-base text-primary bg-ground min-h-screen overflow-x-hidden;

    font-family: var(--font-family-secondary);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: color-mix(in srgb, var(--color-content-tertiary) 8%, transparent);

    scrollbar-color: var(--color-content-tertiary) transparent;
    /* scrollbar-gutter: stable both-edges; */
    /* scrollbar-width: thin; */
}

@layer base {
    ::selection {
        color: var(--color-accent);
        background-color: color-mix(in srgb, var(--color-accent) 10%, transparent);
    }
}

*:focus {
    outline: none;
}
