@layer base {
    .select {
        @apply flex items-center justify-center px-4 py-2 text-color-primary text-md tracking-wide font-normal rounded-lg cursor-pointer;
        transition-property: box-shadow, background-color, opacity;
        transition-duration: 0.25s;
    }

    /* Variants */

    .select-primary {
        @apply bg-[white] text-color-primary-dark;
        box-shadow: 0px 5px 10px hsl(0, 0%, 0%, 0.2);

        &:hover,
        &:focus,
        &:active {
            box-shadow: 0px 5px 10px hsl(0, 0%, 0%, 0.1);
        }
    }
}
