:root {
    /* Background colors */

    --color-bg-ground-hsl: 227, 39%, 5%;
    --color-bg-ground: hsl(var(--color-bg-ground-hsl));

    --color-bg-underground-hsl: 240, 20%, 2%;
    --color-bg-underground: hsl(var(--color-bg-underground-hsl));

    --color-bg-overground-hsl: 224, 30.61%, 9.61%;
    --color-bg-overground: hsl(var(--color-bg-overground-hsl));

    --color-bg-foreground-hsl: 228, 15%, 13%;
    --color-bg-foreground: hsl(var(--color-bg-foreground-hsl));

    /* Text colors */

    --color-content-primary-hsl: 227.44, 84.31%, 90%;
    --color-content-primary: hsl(var(--color-content-primary-hsl));

    --color-content-primary-dark-hsl: 229, 27%, 12%;
    --color-content-primary-dark: hsl(var(--color-content-primary-dark-hsl));

    --color-content-secondary-hsl: 231, 70%, 84%;
    --color-content-secondary: hsl(var(--color-content-secondary-hsl));

    --color-content-tertiary-hsl: 231, 40%, 70%;
    --color-content-tertiary: hsl(var(--color-content-tertiary-hsl));

    --color-content-quaternary-hsl: 230, 18%, 34%;
    --color-content-quaternary: hsl(var(--color-content-quaternary-hsl));

    /* Border colors */

    --color-border-primary-hsl: 228, 19%, 40%;
    --color-border-primary: hsl(var(--color-border-primary-hsl));

    --color-border-secondary-hsl: 228, 19%, 30%;
    --color-border-secondary: hsl(var(--color-border-secondary-hsl));

    --color-border-tertiary-hsl: 228, 21%, 23%;
    --color-border-tertiary: hsl(var(--color-border-tertiary-hsl));

    --color-border-quaternary-hsl: 227, 11%, 15%;
    --color-border-quaternary: hsl(var(--color-border-quaternary-hsl));

    /* Accent */

    --color-accent-hsl: 47, 100%, 50%;
    --color-accent: hsl(var(--color-accent-hsl));
    --color-accent-50-hsl: 57, 180%, 4%;
    --color-accent-50: hsl(var(--color-accent-50-hsl));
    --color-accent-100-hsl: 57, 180%, 6%;
    --color-accent-100: hsl(var(--color-accent-100-hsl));
    --color-accent-200-hsl: 47, 90%, 16%;
    --color-accent-200: hsl(var(--color-accent-200-hsl));
    --color-accent-500-hsl: 47, 100%, 50%;
    --color-accent-500: hsl(var(--color-accent-500-hsl));
    --color-accent-600-hsl: 47, 90%, 60%;
    --color-accent-600: hsl(var(--color-accent-600-hsl));
    --color-accent-800-hsl: 47, 85%, 78%;
    --color-accent-800: hsl(var(--color-accent-800-hsl));

    /* Feedbacks */

    --color-feedback-informative-100-hsl: 202, 100%, 84%;
    --color-feedback-informative-100: hsl(var(--color-feedback-informative-100-hsl));
    --color-feedback-informative-500-hsl: 202, 100%, 62%;
    --color-feedback-informative-500: hsl(var(--color-feedback-informative-500-hsl));
    --color-feedback-informative-800-hsl: 203, 94%, 21%;
    --color-feedback-informative-800: hsl(var(--color-feedback-informative-800-hsl));
    --color-feedback-informative-900-hsl: 202, 50%, 25%;
    --color-feedback-informative-900: hsl(var(--color-feedback-informative-900-hsl));

    --color-feedback-positive: var(--color-feedback-positive-500);
    --color-feedback-positive-hsl: var(--color-feedback-positive-500-hsl);
    --color-feedback-positive-500-hsl: 158, 64%, 52%;
    --color-feedback-positive-500: hsl(var(--color-feedback-positive-500-hsl));
    --color-feedback-positive-800-hsl: 157.2, 48%, 20.4%;
    --color-feedback-positive-800: hsl(var(--color-feedback-positive-800-hsl));
    --color-feedback-positive-900: #09271c;

    --color-feedback-warning-500-hsl: 14.4, 86%, 55.3%;
    --color-feedback-warning-500: hsl(var(--color-feedback-warning-500-hsl));
    --color-feedback-warning-800-hsl: 12, 29.4%, 13.3%;
    --color-feedback-warning-800: hsl(var(--color-feedback-warning-800-hsl));

    --color-feedback-negative-400: #f56565;
    --color-feedback-negative-500-hsl: 0, 95.7%, 63.53%;
    --color-feedback-negative-500: hsl(var(--color-feedback-negative-500-hsl));
    --color-feedback-negative-600-hsl: 0, 63%, 48%;
    --color-feedback-negative-600: hsl(var(--color-feedback-negative-600-hsl));
    --color-feedback-negative-800-hsl: 355.52, 46.21%, 28.43%;
    --color-feedback-negative-800: hsl(var(--color-feedback-negative-800-hsl));

    /* Spacing */

    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;

    /* Font family */

    --font-family-primary: "Manrope Variable", sans-serif;
    --font-family-secondary: "Inter Variable", sans-serif;

    /* Font size */

    --font-size-3xs: 0.7rem;
    --font-size-2xs: 0.8rem;
    --font-size-xs: 0.85rem;
    --font-size-sm: 0.95rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    --font-size-7xl: 4rem;
    --font-size-8xl: 6rem;
    --font-size-9xl: 8rem;

    --leading-3: 0.75rem;
    --leading-4: 1rem;
    --leading-5: 1.25rem;
    --leading-6: 1.5rem;
    --leading-7: 1.75rem;
    --leading-8: 2rem;
    --leading-9: 2.25rem;
    --leading-10: 2.5rem;
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;

    /* Border radius */

    --border-radius-sm: 2px;
    --border-radius-md: 3px;
    --border-radius-lg: 4px;
    --border-radius-xl: 8px;
    --border-radius-2xl: 16px;

    /* Shadows */

    --shadow-sm: 0 1px 2px 0 oklab(0 0 0 / 0.5);
    --shadow-md: 0 4px 6px -1px oklab(0 0 0 / 0.5), 0 2px 4px -2px oklab(0 0 0 / 0.5);
    --shadow-lg: 0 10px 15px -3px oklab(0 0 0 / 0.2), 0 4px 6px -4px oklab(0 0 0 / 0.5);
    --shadow-xl: 0 20px 25px -5px oklab(0 0 0 / 0.2), 0 8px 10px -6px oklab(0 0 0 / 0.5);
    --shadow-2xl: 0 25px 50px -12px oklab(0 0 0 / 0.5);
    --shadow-3xl: 0 35px 60px -15px oklab(0 0 0 / 0.5);

    /* Colors palette */

    --color-palette-turquoise-500: #51a9bb;
    --color-palette-turquoise-800: #12505d;

    --color-palette-purple-500: #b0afd7;
    --color-palette-purple-800: #6d6c91;

    --color-palette-salmon-500: #ffc8c0;
    --color-palette-salmon-800: #962d1a;

    /* Graph Node Categories */

    --graph-node-category-render-graph-variable-500: var(--color-palette-turquoise-500);
    --graph-node-category-render-graph-variable-800: var(--color-palette-turquoise-800);

    --graph-node-category-engine-variable-500: var(--color-palette-turquoise-500);
    --graph-node-category-engine-variable-800: var(--color-palette-turquoise-800);

    --graph-node-category-input-editor-500: var(--color-palette-turquoise-500);
    --graph-node-category-input-editor-800: var(--color-palette-turquoise-800);

    --graph-node-category-value-500: var(--color-palette-turquoise-500);
    --graph-node-category-value-800: var(--color-palette-turquoise-800);

    --graph-node-category-function-500: var(--color-palette-purple-500);
    --graph-node-category-function-800: var(--color-palette-purple-800);

    --graph-node-category-sub-shader-500: var(--color-palette-purple-500);
    --graph-node-category-sub-shader-800: var(--color-palette-purple-800);

    --graph-node-category-fragment-output-500: var(--color-palette-purple-500);
    --graph-node-category-fragment-output-800: var(--color-palette-purple-800);
}
