.sliderContainer {
    width: 100%;
}

.track {
    position: relative;
    width: 100%;
    height: 1rem;

    background-color: color-mix(in srgb, var(--track-color) 20%, #ffffff30);
    border-radius: var(--3dverse-border-radius-md);

    cursor: ew-resize;
    outline: none;

    /* If the user moves the slider => Don't animate the transition. */
    /* If another user (from the same session) moves the slider => Animate the transition. */
    &.animateValueChange {
        &:hover {
        .filled {
            transition-property: none;
        }
        .thumb {
            transition-property: background-color, transform;
        }
    }
    &:focus {
        .filled {
            transition-property: none;
        }
        .thumb {
            transition-property: background-color, transform;
        }
    }
}

.filled {
    height: 100%;
    background-color: var(--track-color);
    border-radius: var(--3dverse-border-radius-md);

    pointer-events: none;
    opacity: var(--track-opacity);

    transition-property: background-color, opacity, width;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 100%;

    border-radius: var(--3dverse-border-radius-sm);
    box-shadow:
        0 0 0 1px var(--3dverse-color-content-primary),
        0 0 10px 2px color-mix(in srgb, var(--3dverse-color-bg-ground) 40%, transparent);

    transition-property: background-color, transform, left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    pointer-events: none;
}

.value {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);

    font-size: var(--3dverse-font-size-2xs);
    color: var(--3dverse-color-content-primary);

    pointer-events: none;
    font-variant-numeric: tabular-nums;
}
