canvas {
    opacity: 0;
    touch-action: none;
    animation: fade-in 500ms ease 0s forwards;
}

canvas:active {
    cursor: default;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
