.wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    gap: 0.5rem;
}

.switchInput {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.switchTrack {
    --switch-padding: 2px;
    width: var(--switch-width);
    height: var(--switch-height);
    background-color: var(--3dverse-color-border-tertiary);
    border-radius: 9999px;
    position: relative;
    transition: background-color 0.25s;
}

.switchThumb {
    position: absolute;
    top: var(--switch-padding);
    left: var(--switch-padding);
    width: calc(var(--switch-height) - var(--switch-padding) * 2);
    height: calc(var(--switch-height) - var(--switch-padding) * 2);
    background-color: var(--3dverse-color-content-primary);
    border-radius: 50%;
    transition:
        transform 0.25s,
        background-color 0.25s;
}

/* checked state */
.switchInput:checked + .switchTrack {
    background-color: var(--3dverse-color-accent);
}

.switchInput:checked + .switchTrack .switchThumb {
    transform: translateX(calc(var(--switch-width) - var(--switch-height)));
    background-color: var(--3dverse-color-bg-ground);
}

.switchInput:disabled + .switchTrack {
    mix-blend-mode: luminosity;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Sizes */

.xs {
    --switch-height: 1rem;
    --switch-width: 1.75rem;
}

.sm {
    --switch-height: 1.25rem;
    --switch-width: 2.25rem;
}

.md {
    --switch-height: 1.5rem;
    --switch-width: 2.75rem;
}
